Определите в какой нормальной форме данная таблица, приведите её ко 2 и 3 нормальным формам последовательно

EmployeeID	Name	JobCode	Job	      Citycode	Homecity
E001	    Alice	J01	    Chef	  26	    Moscow
E001	    Alice	J02	    Waiter	  26	    Moscow
E002	    Bob	    J02	    Waiter	  56	    Perm
E002	    Bob	    J03	    Bartender 56	    Perm
E003	    Alice	J01	    Chef	  56	    Perm

In [6]:
import init_spark_env # импортируем фай настрое связки spark-jupterNot

In [7]:
from pyspark.sql import SparkSession

In [8]:
spark = SparkSession.builder.master("local[*]").appName("My Spark Application").getOrCreate()

In [9]:
spark # проверяем состояние спарк-сессии

In [14]:
from pyspark.sql import DataFrame
from pyspark.sql.functions import col

In [16]:
# Создаём базу даных по заданию

data = [
    ("E001", "Alice", "J01", "Chef", "26", "Moscow"),
    ("E001", "Alice", "J02", "Waiter", "26", "Moscow"),
    ("E002", "Bob", "J02", "Waiter", "56", "Perm"),
    ("E002", "Bob", "J03", "Bartender", "56", "Perm"),
    ("E003", "Alice", "J01", "Chef", "56", "Perm")
    ]
columns =["EmployeeID", "Name", "JobCode", "Job", "Citycode", "Homecity"]
df = spark.createDataFrame(data, schema=columns)

In [18]:
df.head(5)

[Row(EmployeeID='E001', Name='Alice', JobCode='J01', Job='Chef', Citycode='26', Homecity='Moscow'),
 Row(EmployeeID='E001', Name='Alice', JobCode='J02', Job='Waiter', Citycode='26', Homecity='Moscow'),
 Row(EmployeeID='E002', Name='Bob', JobCode='J02', Job='Waiter', Citycode='56', Homecity='Perm'),
 Row(EmployeeID='E002', Name='Bob', JobCode='J03', Job='Bartender', Citycode='56', Homecity='Perm'),
 Row(EmployeeID='E003', Name='Alice', JobCode='J01', Job='Chef', Citycode='56', Homecity='Perm')]

In [23]:
df.show()

+----------+-----+-------+---------+--------+--------+
|EmployeeID| Name|JobCode|      Job|Citycode|Homecity|
+----------+-----+-------+---------+--------+--------+
|      E001|Alice|    J01|     Chef|      26|  Moscow|
|      E001|Alice|    J02|   Waiter|      26|  Moscow|
|      E002|  Bob|    J02|   Waiter|      56|    Perm|
|      E002|  Bob|    J03|Bartender|      56|    Perm|
|      E003|Alice|    J01|     Chef|      56|    Perm|
+----------+-----+-------+---------+--------+--------+

In [19]:
# Разобъём на две таблицы
employees_df = df.select("EmployeeID", "Name", "Citycode", "Homecity").distinct()
jobs_df = df.select("EmployeeID", "JobCode", "Job").distinct()

In [20]:
employees_df.head(5)

[Row(EmployeeID='E001', Name='Alice', Citycode='26', Homecity='Moscow'),
 Row(EmployeeID='E002', Name='Bob', Citycode='56', Homecity='Perm'),
 Row(EmployeeID='E003', Name='Alice', Citycode='56', Homecity='Perm')]

In [22]:
employees_df.show()

+----------+-----+--------+--------+
|EmployeeID| Name|Citycode|Homecity|
+----------+-----+--------+--------+
|      E001|Alice|      26|  Moscow|
|      E002|  Bob|      56|    Perm|
|      E003|Alice|      56|    Perm|
+----------+-----+--------+--------+

In [21]:
jobs_df.head(5)

[Row(EmployeeID='E001', JobCode='J01', Job='Chef'),
 Row(EmployeeID='E001', JobCode='J02', Job='Waiter'),
 Row(EmployeeID='E002', JobCode='J02', Job='Waiter'),
 Row(EmployeeID='E002', JobCode='J03', Job='Bartender'),
 Row(EmployeeID='E003', JobCode='J01', Job='Chef')]

In [24]:
jobs_df.show()

+----------+-------+---------+
|EmployeeID|JobCode|      Job|
+----------+-------+---------+
|      E001|    J01|     Chef|
|      E001|    J02|   Waiter|
|      E002|    J02|   Waiter|
|      E002|    J03|Bartender|
|      E003|    J01|     Chef|
+----------+-------+---------+

In [25]:
# Создадим таблицу для городов по кодам города
cities_df = df.select("Citycode", "Homecity").distinct()

In [26]:
cities_df.head(5)

[Row(Citycode='26', Homecity='Moscow'), Row(Citycode='56', Homecity='Perm')]

In [27]:
cities_df.show()

+--------+--------+
|Citycode|Homecity|
+--------+--------+
|      26|  Moscow|
|      56|    Perm|
+--------+--------+